{% extends 'base.html' %}

{% block content %}
<h1>Members</h1>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/members/new">Add New Member</a>

  <div class="row">
    <div class="column">
      <img src="static/images/wrap.jpg" alt="spar" style="width:100%">
    </div>
    <div class="column">
      <img src="static/images/crush.jpg" alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img src="static/images/man.jpg" alt="Mountains" style="width:100%">
    </div>
  </div>
  <p>
  </p>
  <h4>Current Members</h4>
  <p>
</p>
</p>

<table class = "center">
  <tr>
    <th>Name</th>
    <th>Delete Member</th>
  </tr>
  {% for member in members %}
  <tr>
    <td><a href="/members/{{ member.id }}"> {{member.name}} </a></td>
    <td><a href="/members/{{ member.id }}/edit"></a>
      <form action="/members/{{ member.id }}/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="x" />
      </form></td>
  <tr>
  

    
{% endfor %}
{% endblock %}

