{% extends 'base.html' %}

{% block content %}
<h1>Members</h1>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/members/new">New Member</a>

  <div class="row">
    <div class="column">
      <img src="static/images/rock.jpg" alt="spar" style="width:100%">
    </div>
    <div class="column">
      <img src="static/images/apollo.webp" alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img src="static/images/clubber.jpg" alt="Mountains" style="width:100%">
    </div>
  </div>
  <p>

</p>
</p>

<table class = "center">
  <tr>
    <th>NAME</th>
  
  </tr>
  {% for member in members %}
  <tr>
    <td><a href="/members/{{ member.id }}"> {{member.name}} </a></td>
  <table>


    
{% endfor %}
{% endblock %}

