

{% extends 'base.html' %}

{% block content %}

</style>
</head>
<body>

<div class="content">
<h2> {{member.name}} </h2>

{{ all_members }}
<p>
    
</p>
<p>

</p>
<ul>
<table>
    <th>Classes Booked</th>
    <tr>
    {% for session in sessions  %}
    </tr>
    <td>{{session.name}}<a></td>
<tr>

    {% endfor %}
</ul>
<div>
<p>


</p>
    <section>
        <a href="/members/{{ member.id }}/edit"></a>
        <form action="/members/{{ member.id }}/delete" method="POST">
            <input class="btn btn--danger" type="submit" style="font-family: Verdana, Geneva, Tahoma, sans-serif;" value="delete member" />
        </form>
    </section>

{% endblock %}