{% extends 'base.html' %}

{% block content %}
<h1>Bookings</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/bookings/new">Add New Booking</a>
</p>

<div class="row">
  <div class="column">
    <img src="static/images/ring.jpg" alt="spar" style="width:100%">
  </div>
  <div class="column">
    <img src="static/images/two.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="static/images/glove.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
<p>
  <h4 class=currbook>Current Bookings</h4>
  <p>
    
  </p>


<table>
  <tr>
    <th>Name</th>
    <th>Session</th>
    <th>Delete Booking</th>
    <tr>
      {% for booking in bookings %}
    </tr>
    <td> <a href="/members/{{ booking.member.id }}">{{booking.member.name}}</a></td>
    <td><a href="/sessions/{{ booking.session.id }}">{{booking.session.name }}</td>
    <td><a href="/bookings/{{ booking.id }}/edit"></a>
      <form action="/bookings/{{ booking.id }}/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="x" />
      </form></td>
  </tr>
      

{% endfor %}

{% endblock %}
