
.btn {
    border:0px none;
    padding: 4px 8px;
    color: #ffffff;
    cursor:pointer;
  }
  
  .btn--danger {
    background-color: #FD151B;
  }
  
  .btn--danger:hover {
    background-color: #0a0a0a;
  }
  
  .btn--action:hover {
    background-color: #01295F;
  }
  
  .btn--action {
    background-color: #01295F;
  }
  
  .btn--wrapper {
    margin: 0px 0px 30px 0px;
  }